

* {
    font-family: "Roboto Condensed", sans-serif;
}
.logo  {
  font-family: Roboto;
  font-weight: Normal;
  align-content: center; 
  margin-left: 30px;      
}
p{
    margin-left: 40px;
}
.container{
  margin-right: 2px;
  margin-left: 2px;

}
.services {
   font-family: "Roboto Condensed", sans-serif; 
   font-weight: bold;
   text-align: center;
   color: #333;
} 
.content-center, .content2-center {
    background-color: rgb(238, 238, 238);
    display: block;
    padding: 8px;
}  
.content-center h3, .content2-center h3 {    
    font-weight: bold;
    color: #333;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    line-height: 1.1;
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 11px;
     
}

.banner {
    background-image: url("../images/5883.jpg");
    background-position: center;
    background-size: cover;  /*scales the background image */
    height: 30rem;
    background-repeat: no-repeat;
    display: flex;
    padding-right: 10px;
    margin-left: 5px;
    margin-right: 10px;
    border-radius: 2px;
    align-items: flex-end;
    justify-content: flex-end;
    display: flex;
  }

.banner  a {
    text-align: right;
    font-size: 10px;
    justify-content: flex-end;
    display: flex;
    text-decoration: none;
    color: black;
    margin-top: 400px;
    
}

.images {
    display: flex;
    margin-bottom: 5%;
    justify-content: space-between;
    background-size: cover;
    border-bottom: 1px solid #dddddd;
    height: 300px;
    position: relative;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    top: 80px;
    
    
}
.images2 {
    display: flex;
    margin-bottom: 5%;
    justify-content: space-between;
    background-size: cover;
    border-bottom: 1px solid #dddddd;
    height: 250px;
    position: relative;
    text-align: center;
    margin-left: 60px;
    margin-right: 60px;
    top: 80px;
    
    
}
.banner1 {
    background-image: url("../images/bike-parts-3-1543061-640x480.jpg");
    background-position: left; 
    width: 31%;
    border-radius: 2%;   
}

.banner2{
    background-image: url("../images/bicycle-ride-1493816-640x480.jpg");
    background-position: center;
    width: 31%;
    border-radius: 2%;
}

.banner3 {
    background-image: url("../images/chris-races-1253272-638x422.jpg");
    background-position: right;
    width: 31%;
    border-radius: 2%;
}

.banner4 {
    background-image: url("../images/guarded-bicycle-parking-1511929.jpg");
    background-position: 50% 50%;
    width: 24%;
    border-radius: 2%;  
}
.banner5 {
    background-image: url("../images/bike-wheel-1539723-639x958.jpg");
    background-position: 50% 50%;
    width: 24%;
    border-radius: 2%;
}
.banner6 {
    background-image: url("../images/bike-me-1451221-640x480.jpg");
    background-position: 50% 50%;
    width: 24%;
    border-radius: 2%;
}
.banner7 {
    background-image: url("../images/cycle-race-11-1435466-638x492.jpg");
    background-position: 50% 50%;
    width: 24%;
    border-radius: 2%;
}

.banner-text{
    position: relative;
    top: 60px;
    font-size: 14px !important;
}

.banner-text h2 {
    margin-top: 11px;
    text-shadow: 0 0 5px #484848 !important;
    font-family: "Roboto Condensed", sans-serif;
    color: rgb(255, 255, 255);    
}

.imgbtn {
   background-color: #ec312e;
   text-decoration: none;
   color: white;
   font-family: "Roboto Condensed", sans-serif!important;
   padding: 6px 12px;
}

.imgbtn:active {
    font-size: 16px !important;
    transition: font-size .1s ease-in-out !important;
}

.footer{
    background-color: #e3f2ff;
    padding: 30px;
    text-align: center;
    margin-top: 150px;
}
.footer h2{
    color: #333;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 2px;
}

@media only screen and (max-width: 900px) {
    body {
      font-size: 12px;
    }   
    .images {
        background-size: cover;
        background-position: 50% 50%;
        padding: 45px 15px;
        text-align: center;
        flex-direction: column;
        
    }
    .banner1 {
        background-size: cover;
        background-position: 50% 50%;
        padding: 45px 15px;
        text-align: center;
        flex-direction: column;
        width: 100%;
        
        
    }
    .banner2 {
        background-size: cover;
        background-position: 50% 50%;
        padding: 45px 15px;
        text-align: center;
        flex-direction: column;
        width: 100%;
    }
    .banner3 {
        background-size: cover;
        background-position: 50% 50%;
        padding: 45px 15px;
        text-align: center;
        flex-direction: column; 
        width: 100%;
    }
    .images2{
        background-size: cover;
        background-position: 50% 50%;
        padding: 45px 15px;
        text-align: center;
        flex-direction: column;
    }
    .banner4 {
        background-size: cover;
        width: 100%;
        border-bottom: 1px solid #dddddd;
        text-align: center;
        flex-direction: column;
        top: 80px;
    }
    .banner5 {
        background-size: cover;
        width: 100%;
        border-bottom: 1px solid #dddddd;
        text-align: center;
        flex-direction: column;
        top: 80px;
    }
    .banner6 {
        background-size: cover;
        width: 100%;
        border-bottom: 1px solid #dddddd;
        text-align: center;
        flex-direction: column;
        top: 80px;       
    }
    .banner7 {
        background-size: cover;
        width: 100%;
        border-bottom: 1px solid #dddddd;
        text-align: center;
        flex-direction: column;
        top: 80px;    
    }
    .content2-center h3{
        margin-top: 100px;  
    }  
    
  }
  

