

* {
    font-family: "Roboto Condensed", sans-serif;
}
.logo {
  font-family: Roboto;
  font-weight: Normal;
  align-content: center;
  margin-left: 30px;
}
h4 {
    margin-left: 40px;
    font-family: 'Open Sans', arial, sans-serif !important;
    font-size: .5em;
    font-weight: 800;
}
p {
    margin-left: 40px;
}
.container{
  margin-right: 2px;
  margin-left: 2px;

}
.btn-outline-success {
    color: #e9ecef !important;
    border-color: #e9ecef !important;
}
.services {
   font-family: "Roboto Condensed", sans-serif;
   font-weight: bold;
   text-align: center;
   color: #333;
}
.content-center, .content2-center {
    background-color: #9dc4ef;
    display: block;
    padding: 8px;
}
.content-center h3, .content2-center h3 {
    font-weight: bold;
    color: #333;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    line-height: 1.1;
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 11px;

}
.banner {
    background-image: url("../images/5883.jpg");
    background-position: center;
    background-size: cover;  /*scales the background image */
    height: 30rem;
    background-repeat: no-repeat;
    display: flex;
    padding-right: 10px;
    margin-left: 5px;
    margin-right: 10px;
    border-radius: 2px;
    align-items: flex-end;
    justify-content: flex-end;
    display: flex;
  }
.banner  a {
    text-align: right;
    font-size: 10px;
    justify-content: flex-end;
    display: flex;
    text-decoration: none;
    color: black;
    margin-top: 400px;
}

.images {
    display: flex;
    margin-bottom: 10%;
    margin-bottom: 10%;
    justify-content: space-between;
    background-size: cover;
    /*border-bottom: 1px solid #dddddd;*/
    height: 300px;
    position: relative;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    top: 80px;


}
.images2 {
    display: flex;
    margin-bottom: 5%;
    margin-top: 5%;
    justify-content: space-between;
    background-size: cover;
    height: 250px;
    position: relative;
    text-align: center;
    margin-left: 60px;
    margin-right: 60px;
    /*top: 80px;*/

}
.banner1 {
    background-image: url("../images/bike-parts-3-1543061-640x480.jpg");
    background-position: left;
    width: 31%;
    border-radius: 2%;
    margin-bottom: 20px;
}

.banner2{
    background-image: url("../images/bicycle-ride-1493816-640x480.jpg");
    background-position: center;
    width: 31%;
    border-radius: 2%;
    margin-bottom: 20px;
}

.banner3 {
    background-image: url("../images/chris-races-1253272-638x422.jpg");
    background-position: right;
    width: 31%;
    border-radius: 2%;
    margin-bottom: 20px;
}
.banner4 {
    background-image: url("../images/guarded-bicycle-parking-1511929.jpg");
    background-position: 30%;
    background-size: cover;
    width: 24%;
    border-radius: 2%;
}
.banner5 {
    background-image: url("../images/bike-wheel-1539723-639x958.jpg");
    background-position: 30%;
    background-size: cover;
    width: 24%;
    border-radius: 2%;
}
.banner6 {
    background-image: url("../images/bike-me-1451221-640x480.jpg");
    background-position: 30%;
    background-size: cover;
    width: 24%;
    border-radius: 2%;
}
.banner7 {
    background-image: url("../images/cycle-race-11-1435466-638x492.jpg");
    background-position: 30%;
    background-size: cover;
    width: 24%;
    border-radius: 2%;
}

.banner-text{
    position: relative;
    top: 60px;
    font-size: 14px !important;
}

.banner-text h2 {
    margin-top: 11px;
    text-shadow: 0 0 5px #484848 !important;
    font-family: "Roboto Condensed", sans-serif;
    color: rgb(255, 255, 255);
}

.imgbtn {
   background-color: #ec312e;
   text-decoration: none;
   color: white;
   font-family: "Roboto Condensed", sans-serif!important;
   padding: 6px 12px;
}

.imgbtn:active {
    font-size: 16px !important;
    transition: font-size .1s ease-in-out !important;
}
/*--------side menu---------*/
.side-menu{
    height: 79%;
    width: 15%;
    font-size: 14px;
    float: left;
    z-index: 2;
    background-color: #ddd;
}
.side-menu ul{
    margin-left: 10px;
}
.side-menu ul li{
    list-style-type: none;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}
.side-menu ul li:hover{
    color: #9dc4ef;
} 
.side-menu ul li ul{
    display: none;
    z-index: 10;
    top: 77px;
}
.side-menu ul li:hover ul{
    display: block;
}
.fa-angle-right{
    margin-top: 4px;
    margin-right: 8px;
    float: right;
} 

/*----------- bikes for sale session ----------------*/
.bikes-for-sale, .on-sale{
    margin:200px 0px;  

} 
.bikes-for-sale img, .on-sale img{
    width: 100%;
    padding: 20px 0;
    transition: 1s;
    cursor: pointer;
    margin-top: 50%;
}

.title, .price {
    text-align: center;
    display: block;
    line-height: 20px;
    margin-top: 20px;
}
.productSalePrice {
    color: #ec312e;

}
.add-to-cart, .button {
    margin-top: 15px;
}
/*.bikes-for-sale img:hover, .on-sale img:hover{
    transform: scale(1.1);
}*/


/*----------------------for sale items -------------*/
.title-box {
    background:#9dc4ef;
    color: #fff;
    width: 100px;
    padding: 4px 10px;
    height: 40px;
    margin-bottom: 30px;
    display: flex;
    
}
.title-box h3{
    font-size: 24px;
}
/*---------footer session--------------*/

.footer{
    background-color: #9dc4ef;
    padding: 80px;
    text-align: center;
    margin-top: 30px;
}
.footer h2{
    color: #333;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 2px;
}
.footer form {
    background: #f7f4ff;
    border-radius: .3rem;
    padding: 1.3rem;
    width: 350px;
    margin: 2rem auto;
    box-shadow: 12px 12px 5px 0px rgba(0, 0, 0, .08);
}
.footer form h2{
    font-size: 1.3rem;
}
.footer input{
    width: 100%;
    background: #f5f5f5;
    border: 0;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 10px;
    border: 1px solid #eee;
}
.footer .btn2{
    width: 100%;
    padding: 12px;
    border: 0;
    font-size: 1.1em;
    background: #6facec;
    color: #fff;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, .4);
    box-shadow: 0px 3px 0px;
    margin-top: 1.2rem;
    border-radius: .25rem;
}

.footer .btn2:hover {
   color: #fff;
   background: #3f90e7;
   border-color: #9dc4ef;
}
.footer .form-control {
   display: block;
   width: 100%;
   padding: .5rem .75rem;
   font-size: 1rem;
   line-height: 1.25;
   color: #55595c;
   background-color: #f9f9f9;
   background-image: none;
   -webkit-background-clip: padding-box;
   background-clip: padding-box;
   border: 1px solid rgba(0,0,0,.15);
   border-radius: .25rem;
}
.footer .margin-below{
   margin-bottom: 1.2rem;
}
.footer .form-control:focus {
   border-color: #9dc4ef;
   box-shadow: inset 0 1px 1px rgba(45, 45, 45, 0.07), 0 0 8px rgba(129, 129, 129, 0.6);
} 
.social{
    width: 100%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right:  15px;
}

.fab.fa-facebook-square{
    display: inline-block;
    font-family: "Font Awesome 5 Brands";
    font-weight: 400;
    font-size: 2em;
    line-height: 1;
    text-rendering: normal;

}

.fab.fa-twitter{
    display: inline-block;
    font-family: "Font Awesome 5 Brands";
    font-weight: 400;
    font-size: 2em;
    line-height: 1;
    text-rendering: normal;
}
.fab.fa-instagram{
    display: inline-block;
    font-family: "Font Awesome 5 Brands";
    font-weight: 400;
    font-size: 2em;
    line-height: 1;
    text-rendering: normal;
}
.fab.fa-facebook-square::before{
    content: "\f082";
}
.fab.fa-twitter::before{
    content: "\f081";
}
.fab.fa-instagram::before{
    content: "\f16d";
}
/*-------------responsive website session--------------*/
@media only screen and (max-width: 900px) {
    body {
      font-size: 12px;
    }
    .images {
        background-size: cover;
        background-position: 50% 50%;
        padding: 0px 15px;
        text-align: center;
        flex-direction: column;
        align-items: center;
        margin-top: 10%;
        margin-bottom: 10%;
        height: 0%;
        top: 0%;
    }
    
    .banner1 {
        background-size: cover;
        background-position: 50% 50%;
        padding: 45px 15px;
        text-align: center;
        flex-direction: column;
        width: 100%;
    }
    .banner2 {
        background-size: cover;
        background-position: 50% 50%;
        padding: 45px 15px;
        text-align: center;
        flex-direction: column;
        width: 100%;
    }
    .banner3 {
        background-size: cover;
        background-position: 50% 50%;
        padding: 45px 15px;
        text-align: center;
        flex-direction: column;
        width: 100%;
    }
    .banner-text {
        font-size: 10px !important;
        position: relative;
        top: 0%;
    }
    h2 {
        line-height: 2;
        margin-bottom: 0.5rem;
    }
    .imgbtn {
       line-height: 3.5;
}
    .images2{
        background-size: cover;
        background-position: 50% 50%;
        padding: 45px 15px;
        text-align: center;
        flex-direction: column;
        display: flex;
        margin-bottom: 5%;
        margin-top: 5%;
        justify-content: space-between;
        background-size: cover;  
        position: relative;
        margin-left: 60px;
        margin-right: 60px;
        align-items: center;
        height: 0%;
        top: 0%;
    }
    .banner4 {
        background-size: cover;
        width: 100%;
        border-bottom: 1px solid #dddddd;
        text-align: center;
        flex-direction: column;
        /*top: 80px;*/
    }
    .banner5 {
        background-size: cover;
        width: 100%;
        border-bottom: 1px solid #dddddd;
        text-align: center;
        flex-direction: column;
        /*top: 80px;*/
    }
    .banner6 {
        background-size: cover;
        width: 100%;
        border-bottom: 1px solid #dddddd;
        text-align: center;
        flex-direction: column;
        /*top: 80px;*/
    }
    .banner7 {
        background-size: cover;
        width: 100%;
        border-bottom: 1px solid #dddddd;
        text-align: center;
        flex-direction: column;
        /*top: 80px;*/
    }
    .content2-center h3{
        margin-top: 100px;
    }
    .side-menu {
      width: 34%; 
      z-index: 20; 
      top: 133px;
    
    }

    
  }
